@import 'tailwindcss';

@keyframes eq {
  0% {
    height: 3px;
  }
  50% {
    height: 14px;
  }
  100% {
    height: 3px;
  }
}

@theme {
  --color-gray-50: #f1f1f1;
  --color-gray-100: #d4d4d4;
  --color-gray-200: #ababab;
  --color-gray-300: #848484;
  --color-gray-400: #5d5d5d;
  --color-gray-500: #4e4e4e;
  --color-gray-600: #3e3e3e;
  --color-gray-700: #303030;
  --color-gray-800: #222222;
  --color-gray-900: #151515;
  --color-gray-950: #0b0b0b;
}

::selection {
  background-color: var(--color-gray-700);
  color: var(--color-gray-50);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #848484;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303030;
}
